In [97]:
import pandas as pd
import numpy as np

In [98]:
data_train = pd.read_csv("application_train.csv")
data_test = pd.read_csv("application_test.csv")

In [99]:
print(f"""Data Shape: {data_train.shape}

Data Types:{data_train.dtypes}""")

print(f"""Data Shape: {data_test.shape}

Data Types:{data_test.dtypes}""")

Data Shape: (307511, 122)

Data Types:SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object
Data Shape: (48744, 121)

Data Types:SK_ID_CURR                      int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 121, dtype: object

In [100]:
data_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
data_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [102]:
#set target column, 0 ay on time, 1 dufficult payment
target = data_train['TARGET']

In [103]:
target.value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [104]:
#cek object datatype
data_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [105]:
#one hot encoding for categorical data
def one_hot_encoding(data_train, data_test):
    encoded_data_train = pd.get_dummies(data_train)
    encoded_data_test = pd.get_dummies(data_test)
    return encoded_data_train, encoded_data_test

In [106]:
encoded_data_train, encoded_data_test = one_hot_encoding(data_train, data_test)
print('Training Features shape after one hot encoding: ', encoded_data_train.shape)
print('Testing Features shape after one hot encoding: ', encoded_data_test.shape)

Training Features shape after one hot encoding:  (307511, 246)
Testing Features shape after one hot encoding:  (48744, 242)

In [107]:
#align jumlah kolom train dan test
align_data_train, align_data_test = encoded_data_train.align(encoded_data_test, join = 'inner', axis = 1)
align_data_train['TARGET'] = target
print('Training Features shape: ', align_data_train.shape)
print('Testing Features shape: ', align_data_test.shape)

Training Features shape:  (307511, 243)
Testing Features shape:  (48744, 242)

In [108]:
# check and handle missing value, if any column with >60 misiing value, drop it
missing_val_count_by_column = align_data_train.isnull().sum()
missing_val_count_by_column = missing_val_count_by_column[missing_val_count_by_column > 0]
print('Number of columns with missing values: ', missing_val_count_by_column.shape[0])
missing_val_count_by_column

Number of columns with missing values:  61

AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
OWN_CAR_AGE                   202929
CNT_FAM_MEMBERS                    2
EXT_SOURCE_1                  173378
                               ...
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 61, dtype: int64

In [109]:
align_data_train = align_data_train.drop(align_data_train.columns[align_data_train.isnull().mean()>0.60], axis = 1)
align_data_train

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0,0,0,0,0,1,0,1,0,1
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,1,0,0,0,0,0,0,1,0,0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,-236,-8456.0,...,0,0,0,0,0,1,0,1,0,0
307507,456252,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,365243,-4388.0,...,0,0,0,0,0,1,0,1,0,0
307508,456253,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,-7921,-6737.0,...,0,0,0,0,1,0,0,1,0,0
307509,456254,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,-4786,-2562.0,...,0,0,0,0,0,1,0,1,0,1
307510,456255,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,-1262,-5128.0,...,0,0,0,0,1,0,0,1,0,0

In [110]:
align_data_test = align_data_test.drop(align_data_test.columns[align_data_test.isnull().mean()>0.60], axis = 1)
align_data_test

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329,-5170.0,...,0,0,0,0,0,0,1,0,1,0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469,-9118.0,...,0,0,0,0,0,0,0,0,0,0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458,-2175.0,...,0,0,0,0,0,0,0,0,0,0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866,-2000.0,...,0,0,0,0,0,1,0,0,1,0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191,-4000.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970,-5169,-9094.0,...,0,0,0,0,0,0,0,0,0,0
48740,456222,2,157500.0,622413.0,31909.5,495000.0,0.035792,-11186,-1149,-3015.0,...,0,0,0,0,0,0,0,0,0,0
48741,456223,1,202500.0,315000.0,33205.5,315000.0,0.026392,-15922,-3037,-2681.0,...,0,0,0,0,0,0,1,0,1,0
48742,456224,0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968,-2731,-1461.0,...,0,0,0,0,0,1,0,0,1,0
48743,456250,0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962,-633,-1072.0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
## handle negative value
col_with_mean = align_data_train.mean(axis = 0)
col_with_negative_mean = col_with_mean[col_with_mean < 0]
col_with_negative_mean

DAYS_BIRTH               -16036.995067
DAYS_REGISTRATION         -4986.120328
DAYS_ID_PUBLISH           -2994.202373
DAYS_LAST_PHONE_CHANGE     -962.858788
dtype: float64

In [112]:
#chage in years
col_name_with_negative_mean = ['DAYS_BIRTH','DAYS_REGISTRATION','DAYS_ID_PUBLISH','DAYS_LAST_PHONE_CHANGE']
align_data_train[col_name_with_negative_mean] = align_data_train[col_name_with_negative_mean]/-365
align_data_test[col_name_with_negative_mean] = align_data_test[col_name_with_negative_mean]/-365
align_data_train.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET
count,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,43.936973,63815.045904,13.660604,...,0.030090,0.007466,0.005785,0.005284,0.214757,0.210773,0.017437,0.518446,0.007570,0.080729
std,102790.175348,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,11.956133,141275.766519,9.651743,...,0.170835,0.086085,0.075840,0.072501,0.410654,0.407858,0.130892,0.499660,0.086679,0.272419
min,100002.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,20.517808,-17912.000000,-0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,34.008219,-2760.000000,5.506849,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,43.150685,-1213.000000,12.339726,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,367142.500000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,53.923288,-289.000000,20.491781,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,456255.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,69.120548,365243.000000,67.594521,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [113]:
col_with_anomali = align_data_train['DAYS_EMPLOYED'] >= 36500
print('Number of anomalies : ', col_with_anomali.sum())
align_data_train['DAYS_EMPLOYED'][col_with_anomali].value_counts()

Number of anomalies :  55374

365243    55374
Name: DAYS_EMPLOYED, dtype: int64

In [114]:
align_data_train['DAYS_EMPLOYED'].replace({365243 : np.nan}, inplace=True)
align_data_test['DAYS_EMPLOYED'].replace({365243 : np.nan}, inplace=True)
align_data_train['DAYS_EMPLOYED'].describe()

count    252137.000000
mean      -2384.169325
std        2338.360162
min      -17912.000000
25%       -3175.000000
50%       -1648.000000
75%        -767.000000
max           0.000000
Name: DAYS_EMPLOYED, dtype: float64

In [115]:
align_data_train['DAYS_EMPLOYED'] = abs(align_data_train['DAYS_EMPLOYED'])
align_data_test['DAYS_EMPLOYED'] = abs(align_data_test['DAYS_EMPLOYED'])

In [116]:
column_train = align_data_train.drop(columns=["SK_ID_CURR","TARGET"])
column_test = align_data_test.drop(columns=["SK_ID_CURR"])

In [117]:
column_train

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,0,202500.0,406597.5,24700.5,351000.0,0.018801,25.920548,637.0,9.994521,5.808219,...,0,0,0,0,0,0,1,0,1,0
1,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,45.931507,1188.0,3.249315,0.797260,...,0,1,0,0,0,0,0,0,1,0
2,0,67500.0,135000.0,6750.0,135000.0,0.010032,52.180822,225.0,11.671233,6.934247,...,0,0,0,0,0,0,0,0,0,0
3,0,135000.0,312682.5,29686.5,297000.0,0.008019,52.068493,3039.0,26.939726,6.676712,...,0,0,0,0,0,0,0,0,0,0
4,0,121500.0,513000.0,21865.5,513000.0,0.028663,54.608219,3038.0,11.810959,9.473973,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,157500.0,254700.0,27558.0,225000.0,0.032561,25.553425,236.0,23.167123,5.430137,...,0,0,0,0,0,0,1,0,1,0
307507,0,72000.0,269550.0,12001.5,225000.0,0.025164,56.917808,NaN,12.021918,11.205479,...,0,0,0,0,0,0,1,0,1,0
307508,0,153000.0,677664.0,29979.0,585000.0,0.005002,41.002740,7921.0,18.457534,14.109589,...,0,0,0,0,0,1,0,0,1,0
307509,0,171000.0,370107.0,20205.0,319500.0,0.005313,32.769863,4786.0,7.019178,2.550685,...,0,0,0,0,0,0,1,0,1,0
307510,0,157500.0,675000.0,49117.5,675000.0,0.046220,46.180822,1262.0,14.049315,1.123288,...,0,0,0,0,0,1,0,0,1,0

In [118]:
column_test

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,0,135000.0,568800.0,20560.5,450000.0,0.018850,52.715068,2329.0,14.164384,2.224658,...,0,0,0,0,0,0,1,0,1,0
1,0,99000.0,222768.0,17370.0,180000.0,0.035792,49.490411,4469.0,24.980822,4.446575,...,0,0,0,0,0,0,0,0,0,0
2,0,202500.0,663264.0,69777.0,630000.0,0.019101,54.898630,4458.0,5.958904,9.597260,...,0,0,0,0,0,0,0,0,0,0
3,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,38.290411,1866.0,5.479452,11.528767,...,0,0,0,0,0,1,0,0,1,0
4,1,180000.0,625500.0,32067.0,625500.0,0.010032,35.726027,2191.0,10.958904,11.676712,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,0,121500.0,412560.0,17473.5,270000.0,0.002042,54.712329,5169.0,24.915068,9.312329,...,0,0,0,0,0,0,0,0,0,0
48740,2,157500.0,622413.0,31909.5,495000.0,0.035792,30.646575,1149.0,8.260274,8.227397,...,0,0,0,0,0,0,0,0,0,0
48741,1,202500.0,315000.0,33205.5,315000.0,0.026392,43.621918,3037.0,7.345205,4.120548,...,0,0,0,0,0,0,1,0,1,0
48742,0,225000.0,450000.0,25128.0,450000.0,0.018850,38.268493,2731.0,4.002740,3.736986,...,0,0,0,0,0,1,0,0,1,0
48743,0,135000.0,312768.0,24709.5,270000.0,0.006629,38.252055,633.0,2.936986,11.561644,...,0,0,0,0,0,0,0,0,0,0

In [121]:
## modelling
X = column_train
y = align_data_train["TARGET"]
X_test = column_test
print('Training Features shape : ', X.shape)
print('Testing Features shape : ', X_test.shape)

Training Features shape :  (307511, 225)
Testing Features shape :  (48744, 225)

In [122]:
##impute missing value with median
import numpy as np
from sklearn.impute import SimpleImputer  
def impute_missing_values(data_train, data_test):  
    imputer = SimpleImputer(missing_values=np.nan, strategy='median')
    imputed_data_train = imputer.fit_transform(data_train)
    imputed_data_test = imputer.transform(data_test)
    return imputed_data_train, imputed_data_test

In [123]:
from sklearn import *
X, X_test = impute_missing_values(X, X_test)

In [128]:
#Utility function to create logistic regression model
import time   
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error
    
def create_logictic_regression_model(X, y):
    
    print('Starting Logistic regression model training...')
    t0 = time.time()
    
    model = LogisticRegression()
    model.fit(X,y)

    t1 = time.time()
    print('Time elapsed during logistic regression model training is : ', t1-t0)
    
    return model

In [129]:
logistic_regr_model = create_logictic_regression_model(X,y)
logistic_regr_pred = logistic_regr_model.predict_proba(X_test)[:,1]

Starting Logistic regression model training...
Time elapsed during logistic regression model training is :  11.554148435592651

In [130]:
# Submission dataframe
submit = align_data_test[['SK_ID_CURR']]
submit['TARGET'] = logistic_regr_pred
submit.head()

<ipython-input-130-b8c2cb97acee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit['TARGET'] = logistic_regr_pred

   SK_ID_CURR    TARGET
0      100001  0.113852
1      100005  0.070937
2      100013  0.009179
3      100028  0.009036
4      100038  0.048595

In [131]:
submit.to_csv('home_credit_default_risk_application_ml_result.csv', index = False)